<h2>Register</h2>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <label>
    Name:
    <input type="text" formControlName="username" />
  </label>
  <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched">
    Name is required.
  </div>

  <label>
    Email:
    <input type="email" formControlName="email" />
  </label>
  <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
    Enter a valid email.
  </div>

  <label>
    Password:
    <input type="password" formControlName="password" />
  </label>
  <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
    Min 6 characters required.
  </div>

  <button type="submit">Register</button>
</form>
